/* @import url('http://fonts.cdnfonts.com/css/nunito?styles=19288,19285,19283,19284,19286,19287,19289,19290,19279,19280,19281,19282,19277,19278'); */
/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* --primary: #3e4095; */
    --primary: #411b5e;
    --secondary: #f0a400;
    --gray: rgb(162, 162, 162);
    --gray-dark: rgb(77, 77, 77);
    --white: #f2f2f2;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #fffdfd;
    width: 100%;
}

.dflex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-btw {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.f-column {
    flex-direction: column;
}

.f-reverse {
    flex-direction: row-reverse;
}

.m-1300 {
    max-width: 1440px;
}

.m-auto {
    margin: auto;
}

.gap10 {
    gap: 10px;
}

.gap-20 {
    gap: 15px;
}

.p-80 {
    padding: 100px;
}

/* nav bar */

nav {
    position: absolute;
    top: 0;
    width: 100%;
    color: var(--white);
    z-index: 10000;
    backdrop-filter: blur(25px);
}

.nav-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #dfdfdf;
}

nav i {
    color: var(--white);
    font-size: 23px;
    margin-right: 10px;
}

.nav-contact i, .nav-address {
    color: var(--primary);
}

.nav-contact-info a {
    color: var(--primary);
    transition: .2s;
}

.nav-contact-info a:hover {
    color: var(--secondary);
    transition: .2s;
}

.contact-info-title {
    font-size: 13px;
    color: var(--gray-dark);
    margin-bottom: 5px;
}

.nav-social > a > div {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    background-color: var(--primary);
    color: var(--white);
    transition: .2s;
}

.nav-social > a > div:hover {
    background-color: var(--secondary);
    transition: .2s;
}

.nav-social a {
    text-decoration: none;
}

nav a {
    color: var(--white);
}

.nav-social i {
    font-size: 17px;
    margin: auto;
    color: var(--white);
    transition: .2s;
}

.nav-social > a > div:hover > i {
    color: var(--primary);
    transition: .2s;
}

.nav-links a {
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--secondary);
}

nav hr {
    border: 1px solid rgba(192, 192, 192, 0.13);
    margin: 0 80px;
}

nav .nav {
    padding: 10px 100px;
    justify-content: space-between;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.111);
    border-bottom: 1px solid rgba(192, 192, 192, 0.13);
}

/* sticky nav */
.nav-sticky {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

@keyframes slide-down {
    from {
        height: 0;
    }
    to {
        height: 85px;
    }
}

/* sticky nav ends */

nav .nav .logo img {
    height: 70px;
}

nav .nav ul {
    list-style: none;
    gap: 50px;
}

#nav-menu, .nav label {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .nav-contact {
        display: none;
    }
}

@media only screen and (max-width: 650px){
    .nav label {
        display: block;
    }

    .nav-links {
        width: 100%;
        padding-left: 10px;
        margin-top: 5px;
        height: 0px;
        overflow: hidden;
        transition: height .2s;
    }

    .nav-links ul {
        flex-direction: column;
    }

    #nav-menu:checked + .nav-links {
        height: 180px;
        transition: .2s;
    }

    #nav-menu:checked ~ label {
        color: var(--secondary);
    }
}

@media only screen and (max-width: 500px) {
    nav .nav {
        padding: 10px 15px;
    }
}

/* hero section */

#hero {
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    min-height: 500px;
    overflow: hidden;
    color: var(--white);
}

#hero h1 {
    font-size: 40px;
    max-width: 900px;
    text-align: center;
}

#hero p {
    font-size: 20px;
    color: var(--secondary);
    font-weight: 600;
}

#hero .hero-more {
    position: relative;
    width: 40px;
    height: 50px;
}

#hero .hero-more i {
    color: var(--secondary);
    font-size: 50px;
    position: absolute;
    margin: auto;
    top: 0;
    animation: scroll-down 1.5s ease infinite;
}


.slide {
    height: 100%;
    padding: 0 100px;
    min-width: 100vw;
    overflow-x: hidden;
    position: relative;
    background-color: #0e0e0ea6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(0%);
    }
    33% {
        transform: translateX(-100%);
    }
    63% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-200%);
    }
    97% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}

@keyframes scroll-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .slide {
        padding: 0 15px;
    }

    #hero h1 {
        font-size: 30px;
    }
}

/* about section */

.about-content {
    padding-right: 0;
}

.about-img img {
    width: 500px;
    margin-left: 70px;
    border-radius: 10px 0 0 10px;
}

.about-info .info-header {
    font-size: 40px;
    color: var(--primary);
}

.about-info .info-header ~ p {
    font-size: 20px;
    color: var(--gray-dark);
    margin-top: 10px;
    line-height: 35px;
}

@media only screen and (max-width: 600px){
    .about-info .info-header {
        font-size: 30px;
    }

    .about-info .info-header ~ p {
        font-size: 18px;
    }
}

.about-reverse {
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 100px;
}

.about-reverse img {
    margin: 0 100px 0 0;
}

/* about section ends */

#design {
    height: 500px;
    background-image: url(../images/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0e0e0e8c;
    background-blend-mode: overlay;
    background-attachment: fixed;
    padding-left: 100px;
}

#design .motto {
    color: var(--gray);
    font-size: 25px;
}

.header-hr {
    width: 70px;
    border: 3px solid var(--secondary);
    border-radius: 50px;
    margin: 10px 0;
}

#design .info-header {
    color: var(--white);
    max-width: 500px;
}

#about2 .about-img img {
    margin: 0 70px 0 0;
    border-radius: 0 10px 10px 0;
}

#about2 .about-content {
    padding-left: 0;
    padding-right: 100px;
}

#about3 {
    margin-top: -100px;
}

@media only screen and (max-width: 950px) {
    .about-img img {
        width: 350px;
        margin-left: 10px;
    }

    #about2 .about-img img {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .about-content {
        flex-direction: column;
        text-align: center;
        padding-right: 100px;
    }

    .about-content .header-hr {
        margin: auto;
        margin-top: 10px;
    }

    #about2 .about-content {
        padding-left: 100px;
    }

    .about-img {
        height: 400px;
        width: 100%;
        margin: 0;
    }

    .about-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        margin-left: 0;
    }

    #about2 .about-img img {
        margin-right: 0;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .about-content, #about2 .about-content {
        padding: 50px 30px;
    }

    #about2 .about-content {
        margin-bottom: 50px;
    }

}

/* projects section */

#projects {
    padding-top: 0;
}

#projects .info-header {
    text-align: center;
}

.projects {
    display: grid;
    align-items: center;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 20px;
}

.projects .project {
    height: 300px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
    #projects .about-info {
        padding: 30px;
    }

    .projects {
        grid-template-columns: 1fr;
        
    }

    #design {
        padding: 0;
    }

    #design > div {
        padding: 30px;
        text-align: center;
    }

    #design > div hr {
        margin: auto;
    }
}

/* services section */

#services {
    text-align: center;
    padding-top: 0;
    padding-bottom: 50px;
}

#services .projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#services .project {
    height: max-content;
    padding: 25px;
    font-size: 20px;
    color: var(--gray-dark);
}


#services .project i, #services .project span {
    font-size: 60px;
    color: var(--primary);
}

@media only screen and (max-width: 500px) {
    #services {
        padding: 50px 0%;
    }

    #services .info-header {
        padding: 0 50px;
    }

    #services p {
        font-size: 17px;
    }
}

/* services section ends */

/* footer */

footer {
    /* background-color: var(--primary); */
    background-color: #ededed;
    color: var(--primary);
}

.footer {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.footer-contact-item {
    font-size: 18px;
}

.footer-contact-item a, .footer-contact-item p {
    color: var(--primary);
    margin: 10px 0;
}

.footer-contact-item:hover {
    color: var(--secondary);
    transition: .2s;
}

.footer-contact-item:hover > a {
    color: var(--secondary);
    transition: .2s;
}

.footer-social-icons > div {
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .2s;
}

.footer-attr {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.footer-social-icons > div:hover {
    background-color: var(--secondary);
    color: var(--primary);
    transition: .2s;
}

.footer-logo img {
    height: 180px;
}

@media only screen and (max-width: 1100px){
    .footer-social h2 span {
        display: none;
    }
}

@media only screen and (max-width: 900px){
    footer {
        margin: auto;
    }
    .footer {
        overflow-x: hidden;
    }

    .footer-info {
        flex-direction: column;
        max-width: 100vw;
        gap: 50px;
    }

    .footer-social h2 span {
        display: inline-block;
    }
}

@media only screen and (max-width: 500px){
    .footer {
        padding-right: 50px;
        padding-left: 50px;
    }

    .footer-info {
        justify-content: center;
        align-items: center;
    }
}


/* footer ends */

/* top btn */

.top-btn {
    background-color: var(--primary);
    height: 40px;
    width: 40px;
    border-radius: 8px;
    border: none;
    color: var(--secondary);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: btn-anim 2.5s infinite;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    outline: none;
    transition: .5s;
}

.top-btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
    transition: .5s;
    cursor: pointer;
}

@keyframes btn-anim {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.btn-show {
    display: block;
}

/* top btn ends */

/* con btn */

.contact-popup {
    position: fixed;
    bottom: 100px;
    right: 21px;
    display: none;
    /* max-width: 100px; */
}

.con-btn {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    font-size: 18px;
    outline: none;
    animation: outline 2s ease-in infinite;
}

@keyframes outline {
    0%, 100% {
        box-shadow: 0px 0px 0px 0px #f0a4003a;
        
    }
    50% {
        box-shadow: 0px 0px 0px 10px #f0a4003a;
    }
}

.contact-popup-info p, .contact-popup-info a, .contact-popup-info > div > i {
    font-size: 17px;
    color: var(--primary);
    
}

.contact-popup-info p:hover, .contact-popup-info a:hover, .contact-popup-info > div > i:hover {
    color: var(--primary);
}

.contact-popup-info .footer-contact-item:hover, .contact-popup-info .footer-contact-item:hover > a {
    color: var(--primary);
}

.contact-popup-info {
    /* background-color: var(--secondary); */
    background-color: #bbbbbb;
    padding: 10px 20px;
    /* height: 200px; */
    /* width: max-content; */
    width: 270px;
    border-radius: 5px;
    position: absolute;
    top: -185px;
    right: 0;
}

.caret-icon {
    font-size: 50px;
    color: #bbbbbb;
    position: absolute;
    bottom: -20px;
    right: 5px;
}

@media only screen and (max-width: 1000px) {
    .contact-popup{
        display: block;
    }

    .contact-popup-info {
        display: none;
    }
}

.contact-popup:hover .contact-popup-info {
    display: block;
    animation: fade-in .5s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* con btn ends */